PORT=3000

# MongoDB Database Configuration
MONGODB_URI=

# MongoDB Database Configuration
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=12345678
DB_USER=postgres
DB_DATABASE=career_utehy_db